body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00064e;
}



h1 {
    text-align: center;
    color: #00064e;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    flex-basis: 150px;
    color: #00064e;
    font-weight: bold;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    background-color: #00064e;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

p#result {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #00064e;
}

input.calculo1,
input.calculo2 {
    background-color: #f9f9f9;
    color: #333;
    border-color: #00064e;
    border-radius: 7px;
}



.container {
    /* Estilos del contenedor del formulario */
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
   
}

.image-container {
    /* Estilos del contenedor de la imagen */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ajusta el ancho de la imagen según prefieras */
    height: 100%;
    z-index: -1; /* Para que la imagen esté detrás del contenido */
}

.image-container img {
    /* Estilos de la imagen */
    width: 50%;
    height: 100%;
    object-fit: cover; /* Para ajustar la imagen al tamaño del contenedor */
    opacity: 0.8; /* Puedes ajustar la opacidad según prefieras */
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Cambiar a una columna en dispositivos móviles */
    }
    .image-container {
        top: 70px;
        left: 2;
        width: 100%; /* La imagen ocupará el ancho completo en dispositivos móviles */
        height: 200px; /* Ajusta la altura de la imagen según prefieras */
    }
}